h1 { font-family: 'Syncopate', sans-serif;
text-align: center; font-size: 600%;
text-indent: 25%;
padding-top: 0px;
color: #F5F5F5;
		}

h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

div {
	background: url(sawadee.jpg) 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

h3 {
	left: 30;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #F5F5F5;
    font-style: italic;
    letter-spacing: 1px;
}

h3 {font-family: 'Old Standard TT', serif;


}

h4 {left: 30;
    line-height: 210px;
    margin: auto;
    margin-top: -80px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #99CC99;
    font-style: italic; }

 h4 {font-family: 'Old Standard TT', serif;
	 letter-spacing: 8px;
	 font-size: larger;
	}

