{background-color: #F0F0F0; }

h1 {
	text-align: center;
	font-family: 'Gochi Hand', cursive; color: #64E6D9; font-size: 600%;
	padding: 0; }

h2{
	font-weight: 1000;
	color: white;
}

body { 
	font-family: 'The Girl Next Door', cursive;
}

nav {
	float: center;
	font-size: 22px;
	font-family:'Gochi Hand', cursive;
	background-color: #F0F0F0;
	padding: 0;
}

nav a {
	text-decoration: none;
	margin: 25px;
	display: inline-block;
	color: black;
}

a:hover {
	background-color: #64E6D9;
}

section {
	background: #222222;
	overflow: auto;
	padding: 2px;
	margin: 0;
	background-size: 100% 100%;
	
}

img {
	display: block;
	margin: 0 auto;
	clear: both;
	padding-bottom: 10px;
	padding-top: 0px;
}

#quote {
	font-size: 28px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
}

#wrapper {
	margin: 0 auto;
	text-align: center ;
	font-size: 150%;
}

h3 {
	font-family: 'Gochi Hand', cursive; color: black; font-size: 100%;
	font-size: 30px;
	width: 70%;
	display: inline-block;
	text-align: center;
	padding-bottom: 5px;
}

h4 {
	font-family: 'Gochi Hand', cursive; color: black; font-size: 150%;
	padding-top: 0px;
}

#underquote {
	background: #F0F0F0;
	overflow: auto;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 50px ;
}

#touring {
	color: #64E6D9;
	font-weight: bold; 
}

footer {
	text-align: right;
	color: black;
	padding-right: 30px;
	background-color: #F0F0F0;
	padding-bottom:0px;
}