body {
	background-image: url("unit3projectassets/assets/background.jpg");
	background-image: url("unit3projectassets/assets/stripes.png")
	background-position:top;
	background-repeat: repeat-x;
	font-size: 130%; 
	font-family:Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	padding: 25px 100px;
	line-height: 200%;
	margin-top: 0px;
}

p {
	margin-top: 200px;
	margin-right:100px;
	margin-left: ;
}


hr {
	color: #FF0033;
	background: #f00;
	width:5%;
	height: 5px;
}

	
}
a 
